.withdrawal-confirm .ant-btn-primary {
  width: 20.3rem;
  height: 100%;
  margin: 0 !important;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 1rem;
  background-color: #6963ff;
  color: #141415;
}

.withdrawal-confirm .ant-btn-primary span {
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.withdrawal-confirm .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: #141415;
  border: none;
  background-color: #6963ff;
}

.withdrawal-confirm .ant-btn-dangerous {
  background-color: #ff4545;
}

.withdrawal-confirm .ant-btn-dangerous span {
  color: #141415;
}

.withdrawal-confirm .ant-btn-dangerous:not(:disabled):not(.ant-btn-disabled):hover {
  color: #141415;
  border: none;
  background-color: #ff4545;
}
